<a href="https://colab.research.google.com/github/Daniel-ASG/ENEM/blob/main/Separacao_dados_PB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import zipfile

In [ ]:
ano = input('Digite o ano da prova com 4 algarismos: ')

enem_ano = pd.read_csv(f'/content/MICRODADOS_ENEM_{ano}.csv', 
                       sep=';', encoding='latin-1',  
                       error_bad_lines=False,
                       engine='python')

enem_PB = enem_ano.query('SG_UF_RESIDENCIA == "PB"')
enem_PB.to_csv(f'enem_{ano}_PB.csv', index=False)
enem_PB

#### Para os anos de 2006 para frente, os arquivos são muito grandes.

A estratégia é dividir os dataframes, filtrar o Estado e depois realizar um merge

In [1]:
import pandas as pd
import zipfile

In [ ]:
with zipfile.ZipFile('/content/drive/MyDrive/Analise_de_dados/ENEM/microdados_enem2015.zip') as z:
    print(*z.namelist(), sep='\n')

In [ ]:
with zipfile.ZipFile('/content/drive/MyDrive/Analise_de_dados/ENEM/microdados_enem2015.zip') as z:
    with z.open('DADOS/MICRODADOS_ENEM_2015.csv') as f:
        enem_ano = pd.read_csv(f, sep=',', nrows=0, encoding='latin-1')
enem_ano.columns.values

In [6]:
columns = ['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'IN_ESTUDA_CLASSE_HOSPITALAR', 'IN_TREINEIRO', 'CO_ESCOLA',
       'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'NU_IDADE', 'TP_SEXO', 'TP_NACIONALIDADE',
       'CO_MUNICIPIO_NASCIMENTO', 'NO_MUNICIPIO_NASCIMENTO',
       'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO',
       'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'TP_ESTADO_CIVIL',
       'TP_COR_RACA', 'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_GESTANTE', 'IN_LACTANTE',
       'IN_IDOSO', 'IN_DISCALCULIA', 'IN_AUTISMO', 'IN_VISAO_MONOCULAR',
       'IN_SABATISTA', 'IN_OUTRA_DEF', 'IN_SEM_RECURSO', 'IN_NOME_SOCIAL',
       'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18', 'IN_LEDOR',
       'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS', 'IN_LEITURA_LABIAL',
       'IN_MESA_CADEIRA_RODAS', 'IN_MESA_CADEIRA_SEPARADA',
       'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE', 'IN_MACA', 'IN_COMPUTADOR',
       'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO']

In [7]:
with zipfile.ZipFile('/content/drive/MyDrive/Analise_de_dados/ENEM/microdados_enem2015.zip') as z:
    with z.open('DADOS/MICRODADOS_ENEM_2015.csv') as f:
        enem_ano_1 = pd.read_csv(f, sep=',', encoding='latin-1', usecols=columns,
                               error_bad_lines=False)

enem_PB = enem_ano_1.query('SG_UF_RESIDENCIA == "PB"')
enem_PB.to_csv('/content/drive/MyDrive/Analise_de_dados/ENEM/enem_2015_1.csv', index=False)

In [ ]:
enem_PB

In [2]:
columns = ['NU_INSCRICAO', 'SG_UF_RESIDENCIA', 'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECÍFICO', 'IN_CERTIFICADO',
       'NO_ENTIDADE_CERTIFICACAO', 'CO_UF_ENTIDADE_CERTIFICACAO',
       'SG_UF_ENTIDADE_CERTIFICACAO', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO']

In [3]:
with zipfile.ZipFile('/content/drive/MyDrive/Analise_de_dados/ENEM/microdados_enem2015.zip') as z:
    with z.open('DADOS/MICRODADOS_ENEM_2015.csv') as f:
        enem_ano_1 = pd.read_csv(f, sep=',', encoding='latin-1', usecols=columns,
                               error_bad_lines=False)

enem_PB = enem_ano_1.query('SG_UF_RESIDENCIA == "PB"')
enem_PB.to_csv('/content/drive/MyDrive/Analise_de_dados/ENEM/enem_2015_2.csv', index=False)

In [ ]:
enem_PB

In [2]:
columns = ['NU_INSCRICAO', 'SG_UF_RESIDENCIA', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030',
       'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036', 'Q037', 'Q038',
       'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046',
       'Q047', 'Q048', 'Q049', 'Q050']

In [3]:
with zipfile.ZipFile('/content/drive/MyDrive/Analise_de_dados/ENEM/microdados_enem2015.zip') as z:
    with z.open('DADOS/MICRODADOS_ENEM_2015.csv') as f:
        enem_ano_1 = pd.read_csv(f, sep=',', encoding='latin-1', usecols=columns,
                               error_bad_lines=False)

enem_PB = enem_ano_1.query('SG_UF_RESIDENCIA == "PB"')
enem_PB.to_csv('/content/drive/MyDrive/Analise_de_dados/ENEM/enem_2015_3.csv', index=False)

In [ ]:
enem_PB

In [7]:
PB_1 = pd.read_csv('/content/drive/MyDrive/Analise_de_dados/ENEM/enem_2015_1.csv')
PB_2 = pd.read_csv('/content/drive/MyDrive/Analise_de_dados/ENEM/enem_2015_2.csv').drop(['SG_UF_RESIDENCIA'], axis=1)
PB_3 = pd.read_csv('/content/drive/MyDrive/Analise_de_dados/ENEM/enem_2015_3.csv').drop(['SG_UF_RESIDENCIA'], axis=1)

PB_1.merge(PB_2, how='inner', on='NU_INSCRICAO').merge(PB_3, how='inner', on='NU_INSCRICAO').to_csv('/content/drive/MyDrive/Analise_de_dados/ENEM/enem_2015_PB.csv', index=False)

In [9]:
pd.read_csv('/content/drive/MyDrive/Analise_de_dados/ENEM/enem_2015_PB.csv')

        NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q048  Q049 Q050
0       150000000281    2015                  2507507  ...    A     B    A
1       150000000602    2015                  2507507  ...    A     A    A
2       150000000268    2015                  2507507  ...    C     B    C
3       150000000390    2015                  2504009  ...    A     B    A
4       150000000499    2015                  2507507  ...    A     A    A
...              ...     ...                      ...  ...  ...   ...  ...
204055  150007016044    2015                  2504009  ...    C     C    A
204056  150007184747    2015                  2507507  ...    A     B    B
204057  150007603330    2015                  2507507  ...    B     B    B
204058  150007605202    2015                  2507507  ...    A     B    A
204059  150007606851    2015                  2507507  ...    A     B    C

[204060 rows x 166 columns]